* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body {
    background: #ffffffbb;

}
a {
    text-decoration: none;
}
p{
    font-family: 'segoe ui';
    text-align: left;
}
h2 {
    font-family: 'segoe UI';
    font-weight: bold;

}
.searchbtn{
    padding: 0.5 1.5 ;
    background-color: #EC7D55;
    color: #fff;
}
h3{
    text-transform: uppercase;
}
h5 {
    font-family: 'segoe ui';
    font-weight: bold;
    color: black;
}
li {
    list-style: none;
}
img{
    width: 700px;
}
h1 {
    line-height: 1.2em;
}
/*utility */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    
}
.btn {
font-family: 'segoe UI';
color: #111111;
text-align: left;
font-weight: bold;
text-transform: uppercase;
border-style: solid;
border-width: 2px 2px 2px 2px;
padding: .5rem;
opacity: 1;
margin: 1rem;
}
.en{
    display: inline-block;
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color:#111111;
}
.btn-secondary {
    border-color:#fbfbfb;
    padding: 0rem 3rem 0rem 3rem;
}
.btn-secondary1 {
    background: #EC7D55;
    border-color: none;
    padding: 0rem 1rem 0rem 1rem;
}
.btn-secondary:hover {
    color:yellow;
}
.btn-secondary:active{
    color: darkgray;
}
.btn-secondary1:active {
    color: darkgray;
}
.btn1 {
    background: #ffffff;
    color:#111111;
    padding: .2rem 1rem .2rem 1rem;
}

/*nav */

#main-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    background:#fff;
}
#main-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    }

#main-nav .container .link {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;

}
#main-nav .container .nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.container .nav-link .active {
    color: #111111;
    margin: .5rem;
}
.container .social i {
    color: #111111;
    margin: .5rem;
}
.container .showcontainer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.container .showcontainer .sp .ht {
  background: #fff; /*div tag linking h1, p and the btn together*/
}
.container .showcontainer .sp .ht .sh { /*for h1*/
    font-family:Arial;
    font-weight: bold;
    text-align: left;
}
.container .showcontainer .sp .ht .pp {
    font-family:'segoe UI';
    text-align: center ,left;
}
.container .showcontainer .sp .btn {
    z-index: 1;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    padding: .5rem;
    
}
.container .showcontainer .im {
    z-index: 1;
}
/*article section*/
#article {
    display: grid;
    grid-template-rows: repeat(2,1f);
}
#article .container img {
    width: 300px;
}
#article .container .mencontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.container .women {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.container .women img{
    padding-top: 3em;
}
.container .rope .btn {
    display: inline;  
}

.container .end {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    grid-gap: 1em;
}
.container .end .en1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .end .en1 .en {
    color: red;
}
.container .endd {
    background: url(shoe.png) no-repeat center right/contain ;
    padding: 1rem;
    margin: 1rem;
}
#article .container .endd .en {
    border-style: solid;
    border-width: .1rem .1rem;
    padding: 0.3rem 2rem .3rem 2rem; 
    text-decoration: #111111;
}
/*footer section of index page*/
#sec {
    padding-top: 3rem;
}
#sec .container .footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
#sec .container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
#sec .container  .footer6 ul {
    display: flex;
    justify-content: space-between;
}

/* menpage */
/*nav*/
body {
    background: #ffffff;
}
 #men-nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 1rems;
    background: #ffffff;
}
#men-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
#men-nav .container .nav-section1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#men-nav .container .nav-section1 ul  {
    display: flex;
}
#men-nav .container .nav-section2 ul li {
    display: inline;
    text-align: left;
    padding: .7rem;
}
#men-nav .container .nav-section2 a{
    color: #000;
    
}
#men-nav .container .nav-section2 ul {
    background:#fbfbfb
}
.nav-section1 .link  {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;
} 
/*showcase area of menpage i.e men page*/
#menshowcase .container .menshowcase {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
#menshowcase .container .menshowcase img {
    width: 400px;
}
#menshowcase .container .menshowcase .arrival {
    text-align: center;
}
#menshowcase .container .menshowcase .arrival .btn {
    background: #000;
    color: #fff;
}
/*article section*/
#men-article .container .men-article   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#men-article .container .men-article div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#men-article .container .men-article  .m1 {
    background: url(pagetwoimg/newarrivals.png) no-repeat center center/cover;
}

#men-article .container .men-article  .m2 {
    background: url(pagetwoimg/jeans.png) no-repeat center center/cover;
}
#men-article .container .men-article  .m3 {
    background: url(pagetwoimg/shirt.png) no-repeat center center/cover;
}

#men-article .container .men-article  .m4 {
    background: url(pagetwoimg/pants.png) no-repeat center center/cover;
}
#men-article .container .men-article .m5 {
    background: url(pagetwoimg/tshirt.png) no-repeat center center/cover;
}
#men-article .container .men-article .m6 {
    background: url(pagetwoimg/sweats.png) no-repeat center center/cover;
}
#men-article .container .menmiddle .m7 {
    background: url(pagetwoimg/shorts.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
}
#men-article .container .menmiddle .m8 {
    background: url(pagetwoimg/outerwear.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
}
.menmiddle {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}
.menmiddle div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#men-article .container .style {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
#men-article .container .style img {
    width: 250px;
    height: 200px;
}
#men-article .container .style5  {
    text-align: center;
    
}
/*footer section*/
 .footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
.container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
.container  .footer6 ul{
    display: flex;
    justify-content: space-between;
}







/*women page*/
#women-nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 1rems;
    background: #ffffff;
}
#women-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
#women-nav .container .nav-section1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#women-nav .container .nav-section1 ul  {
    display: flex;
}
#women-nav .container .nav-section2 ul li {
    display: inline;
    text-align: left;
    padding: .7rem;
}
#women-nav .container .nav-section2 a{
    color: #000;
    
}
#women-nav .container .nav-section2 ul {
    background:#fbfbfb
}
.nav-section1 .link  {
    font-family: 'Chiller','lucida sans Regular';
    font-weight: bold;
    text-align: left;
    color: #111111;
    font-size: 40px;
} 
#womenshowcase .container .womenshowcase {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
#womenshowcase .container .womenshowcase img {
    width: 400px;
}
#womenshowcase .container .womenshowcase .arrival {
    text-align: center;
}
#womenshowcase .container .womenshowcase .arrival p{
    text-align: center;
}
#womenshowcase .container .womenshowcase .arrival .btn {
    background: #000;
    color: #fff;
}
/*article section*/
#women-article .container .women-article   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
#women-article .container .women-article div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#women-article .container .women-article  .w1 {
    background: url(women/Image37.png) no-repeat center center/cover;
}

#women-article .container .women-article  .w2 {
    background: url(women/Image70.png) no-repeat center center/cover;
}
#women-article .container .women-article  .w3 {
    background: url(women/Image52.png) no-repeat center center/cover;
}

#women-article .container .women-article  .w4 {
    background: url(women/Image60.png) no-repeat center center/cover;
}
#women-article .container .women-article .w5 {
    background: url(women/Image53.png) no-repeat center center/cover;
   
}
#women-article .container .women-article .w6 {
    background: url(women/Image56.png) no-repeat center center/cover;
}
.w7 {
    background: url(women/Image55.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
    margin: .5rem;
}
 .w8{
    background: url(women/Image54.png) no-repeat center center/cover;
    width: 250px;
    height: 200px;
    margin: .5rem;
}

.womenmiddle {
    display: flex;
    justify-content: center;
    margin: 1rem;

}
.womenmiddle div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

#women-article .container .style {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}


#women-article .container .style img {
    width: 250px;
    height: 200px;
}
#women-article .container .style5  {
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}
/*footer section*/
.footercontainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    grid-gap: 1rem;
}
.container .footercontainer .footer5 ul {
    display: flex;
    justify-content: space-between;   
}
.container  .footer6 ul{
    display: flex;
    justify-content: space-between;
}    
